<header>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target="#sidebar-wrapper" data-canvas="#content-wrapper" >
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar middle-bar"></span>
                    <span class="icon-bar bottom-bar"></span>
                </button>
                <button type="button" class="user-toggle-btn visible-xs collapsed" data-toggle="collapse" data-target="#user-navbar">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </button>
                <a class="navbar-brand" href="#">Rss Reader</a>
            </div>
            <div id="user-navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="user-info-big dropdown hidden-xs">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <img class="img-circle" src="https://lh5.googleusercontent.com/-MPMq6Qoz9hQ/AAAAAAAAAAI/AAAAAAAAABc/opkYB197kso/photo.jpg?sz=200" class="user-image" >
                            <span class="hidden-xs">valery.tarnavsky@gmail.com</span>
                        </a>
                        <ul class="dropdown-menu">
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <li class="user-info-header">
                                <img class="img-circle" src="https://lh5.googleusercontent.com/-MPMq6Qoz9hQ/AAAAAAAAAAI/AAAAAAAAABc/opkYB197kso/photo.jpg?sz=200" >
                            </li>
                            <li class="user-info-footer">
                                <div class="pull-left">
                                    <button class="btn btn-action" id="profile_btn"><i class="fa fa-user" aria-hidden="true"></i> Profile</button>
                                </div>
                                <div class="pull-right">
                                    <button class="btn btn-action" id="sign_out"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</button>
                                </div>
                            </li>
                        </ul>
                    </li><!-- /user-info-lg-->
                    <div class="user-info-small visible-xs">
                        <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#user-navbar"><span aria-hidden="true">&times;</span></button>
                        <li class="user-info-header">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="text-center">
                                        <img class="img-circle" src="https://lh5.googleusercontent.com/-MPMq6Qoz9hQ/AAAAAAAAAAI/AAAAAAAAABc/opkYB197kso/photo.jpg?sz=200" >
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="text-center">
                                        <span>valery.tarnavsky@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="user-info-footer">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="text-center">
                                        <button class="btn btn-action"><i class="fa fa-user" aria-hidden="true"></i> Profile</button>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="text-center">
                                        <button class="btn btn-action"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </div>
        </div>

    </nav><!--/navbar-->
</header>